.footer__menu_item-link {
  font: normal 400 18px/24px Roboto, Arial, sans-serif;
  color: #1a1b22;
  text-decoration: none;
  transition: opacity .2s linear;
}

.footer__menu_item-link:last-child {
  margin-right: 0;
}

.footer__menu_item-link:hover {
  opacity: .7;
}

@media (max-width: 1100px) {
  .footer__menu_item-link {
    margin-right: 14px;
  }
}

@media (max-width: 767px) {
  .footer__menu_item-link {
    margin: 0 0 24px 0;
  }

  .footer__menu_item-link:last-child {
    margin: 0;
  }
}