.header__container {
  display: flex;
  box-sizing: border-box;
  background-color: transparent;
  align-items: baseline;
  width: calc(100% - 208px);
  max-width: 1232px;
  margin: 0 auto;
  z-index: 2;
}

@media (max-width: 767px) {
  .header__container {
    align-items: center;
    width: calc(100% - 32px);
  }
}

@media (max-width: 1100px) {
  .header__container {
    width: calc(100% - 80px);
  }
}

