{
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "no-param-reassign": "off",
    "no-useless-constructor": "off"
    // "no-underscore-dangle": [
    //   "error",
    //   {
    //     "allow": ["_id"]
    //   }
    // ]
  }
}