.request-error__title {
  font: normal 400 26px/30px Roboto-Slab, Arial, sans-serif;
  color: #1a1b22;
  margin: 0 0 14px 0;
  text-align: center;
}

@media (max-width: 767px) {
  .request-error__title {
    width: calc(100% - 32px);
  }
}
