.author__wraper_title {
  font: normal 400 40px/46px Roboto-Slab, Arial, sans-serif;
  color: #1a1b22;
  margin: 0 0 24px 0;
}
@media (max-width: 1279px) {
  .author__wraper_title {
    font: normal 400 30px/40px Roboto-Slab, Arial, sans-serif;
    margin: 0 0 7px 0;
  }
}

@media (max-width: 767px) {
  .author__wraper_title {
    margin: 0 0 13px 0;
  }
}