@import url('./__black/header__logo_black.css');
@import url('./__white/header__logo_white.css');

.header__logo {
  font: normal 700 20px/24px Roboto-Slab, Arial, sans-serif;
  margin-right: auto;
  /* margin-top: 0;
  margin-bottom: 0; */
  text-decoration: none;
  transition: color .2s linear;
}

.header__logo:hover {
  color: #b6bcbf;
}

@media (max-width: 767px) {
  .header__logo {
    font: normal 700 16px/24px Roboto-Slab, Arial, sans-serif;
    z-index: 5;
  }
}