.request-error__text {
  font: normal 400 18px/24px Roboto, Arial, sans-serif;
  color: #b6bcbf;
  max-width: 344px;
  text-align: center;
  margin: 0;
}

@media (max-width: 767px) {
  .request-error__text {
    width: calc(100% - 32px);
  }
}

