.article__search-keyword {
  box-sizing: border-box;
  font: normal 500 14px/24px Roboto, Arial, sans-serif;
  color: #000;
  border-radius: 10px;
  margin: 0 auto 0 0;
  background-color: white;
  padding: 8px 15px;
  z-index: 10;
  max-width: 111px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .2ms ease-in;
  cursor: pointer;
  display: none;
}

.article__search-keyword:hover {
  max-width: 140px;
}
