.success__close {
  padding: 0;
  outline: none;
  border: none;
  width: 37px;
  position: absolute;
  top: -43px;
  right: -44px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .success__close {
    width: 23px;
    top: -39px;
    right: 16px;
  }
}