.articles__show-more {
  font: normal 400 18px/24px Roboto, Arial, sans-serif;
  color: black;
  background: white;
  border: none;
  display: block;
  padding: 20px 84px;
  border-radius: 100px;
  cursor: pointer;
  /* opacity: 1; */
  margin: 64px auto 0 auto;
  transition: all .2s ease-in-out;
  outline: none;
}

.articles__show-more:hover {
  /* opacity: .9;
  box-shadow: 0 5px 30px rgba(8, 29, 45, 0.1); */
  background-color: #b6bcbf;
}

@media (max-width: 1279px) {
  .articles__show-more {
    padding: 16px 61px;
    margin: 35px auto 0 auto;
  }
}

@media (max-width: 767px) {
  .articles__show-more {
    padding: 15px 77px;
    margin: 16px auto 0 auto;
  }
}