.inform__title {
  font: normal 400 18px/24px Roboto, Arial, sans-serif;
  margin: 0;
  color: #b6bcbf;
}

@media (max-width: 1100px) {
  .inform__title {
    font: normal 400 14px/24px Roboto, Arial, sans-serif;
  }
}

@media (max-width: 767px) {
  .inform__title {
    font: normal 400 12px/24px Roboto, Arial, sans-serif;
  }
}